.container_menu {
  font-family: "Bebas Neue", sans-serif;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}

.logo-academia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-academia img {
  width: 400px;
  height: auto;
}

.menu {
  text-align: right;
}

.menu li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

.menu a {
  background-color: #0077ff;

  padding: 16px;
  display: block;
  color: #fff;

  text-decoration: none;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu a:hover {
  background-color: #0056b3;

  color: #fff;
}

.menu a:active {
  background-color: #004080;

  color: #fff;
}

.titulo_equipamento {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 24px; /* ou 28px se quiser ainda mais destaque */
  letter-spacing: 1px; /* opcional: espaçamento entre letras */
  margin: 20px 0; /* espaço acima e abaixo */
}

.container_equipamentos {
  padding: 40px 20px;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  gap: 20px;
}

.equipamento {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  /* Tamanho padrão */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.equipamento img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 15px;
  flex: 1;
}

.card-content h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.card-content p {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #0077ff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #005ec2;
}

.equipamento:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .equipamento {
    width: 100%;
    max-width: 350px;
  }
}

/* relatos*/
.titulo_relatos {
  text-align: center;
  padding: 50px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.container_relatos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.relato_usuario {
  display: flex;
}

.card-relato {
  width: 220px;
  min-height: 380px; /* altura mínima para uniformizar */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
  box-sizing: border-box;
}

.card-relato img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.card-relato img:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card-relato h3 {
  margin: 10px 0 5px 0;
  font-size: 16px;
}

.card-relato p {
  font-size: 14px;
  text-align: justify;
  margin: 5px 10px; /* espaço lateral pro texto respirar */
}

/*rodape */

.icones-rodape {
  display: flex;
  justify-content: flex-end; /* Alinha à direita */
  align-items: center; /* Alinha verticalmente */
  gap: 10px; /* Espaçamento entre os itens */
  width: 100%; /* Garante que ocupe toda a largura */
}

.rodape {
  background-color: #0077ff; /* cor de fundo escura */
  color: #ffffff; /* cor do texto principal */
  text-align: center;
  padding: 20px 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
}

.rodape p {
  margin: 0;
  font-size: 23px;
}

.descricao-rodape {
  color: #4caf50; /* verde para destacar o nome */
  font-weight: bold;
  transition: color 0.3s ease;
  cursor: pointer;
}

.descricao-rodape:hover {
  color: #81c784; /* tom mais claro ao passar o mouse */
}
